<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>




        <h1  class="mt-3">Wikis</h1>
        <div class="mb-3">
          <% if(currentUser) { %>
            <a href="/wikis/new" class="btn btn-success">New Wiki</a>
          <% } %>
        </div>


        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% }) %>
        </ul>




    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>