<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>


      <h1>Success</h1>

      <header class="jumbotron my-4">
    
          <div class="container">
              <div class="row">
                <div class="col-sm">
                    <p>You are now a Premium member! Enjoy the benefits.</p>
                </div>
              </div>
            </div>
      
      
          
        </header>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>